

.background{
    background-color: black;
    height: 100vh;
}

.heading{
    color: white;
}

.pofiles{
    display: flex;
    flex-direction: 'row';
    color: white;
}

.profilePic{
  max-width: 60%;
  max-height: 60%;
  margin: auto;
  display: block;
}

.box{
    display: flex;
    flex-direction: 'column';
    justify-content: 'center;
    align-items: 'center;
    border-width: 4px;
    border-color: white;
}

.boxingPage{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:30px
}